<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TRADE</title>
    <style>
        * {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
            ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            }
    
            li {
            float: left;
            }
    
            li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family:sans-serif
            }
    
            li a:hover {
            background-color: #111;
            }
        </style>
</head>
<body>
        <%-include('../partial/navbar.ejs') %>
    
    <h2 style="text-align:center">MARKET TODAY</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h1>1 USD = <%= sendCurrent[0].value%> Rupiah</h1>
    <p><%= sendCurrent[0].updatedAt%></p>
    <form action="/buy/<%= sendCurrent[0].id %>" method="POST">
        <input type="radio" id="value20" value="20" >20<br>
        <input type="radio" name="BUY" value="50">50<br>
        <input type="radio" name="BUY" value="100">100<br>
        <button type="submit" onclick="getValue()">BUY</button>
    </form>
    <form action="/" method="POST">
        <input type="radio" name="SELL" value="20" checked>20<br>
        <input type="radio" name="SELL" value="50">50<br>
        <input type="radio" name="SELL" value="100">100<br>
        <button type="submit">SELL</button>
    </form>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h1>1 EURO = <%= sendCurrent[1].value%> Rupiah</h1>
    <p>Some text..</p>
    <form action="/buy/<%= sendCurrent[1].id %>" method="POST">
        <input type="radio" name="BUY" value="20" checked>20<br>
        <input type="radio" name="BUY" value="50">50<br>
        <input type="radio" name="BUY" value="100">100<br>
        <button type="submit">BUY</button>
    </form>
    <form action="/sell" method="POST">
        <input type="radio" name="SELL" value="20" checked>20<br>
        <input type="radio" name="SELL" value="50">50<br>
        <input type="radio" name="SELL" value="100">100<br>
        <button type="submit">SELL</button>
    </form>
  </div>
  <div class="column" style="background-color:#ccc;">
    <h1>1 POUNDS = <%= sendCurrent[2].value%> Rupiah</h1>
    <p>Some text..</p>
    <form action="/buy/<%= sendCurrent[2].id %>" method="POST">
        <input type="radio" name="BUY" value="20" checked>20<br>
        <input type="radio" name="BUY" value="50">50<br>
        <input type="radio" name="BUY" value="100">100<br>
        <button type="submit">BUY</button>
    </form>
    <form action="/" method="POST">
        <input type="radio" name="SELL" value="20">20<br>
        <input type="radio" name="SELL" value="50">50<br>
        <input type="radio" name="SELL" value="100">100<br>
        <button type="submit">SELL</button>
    </form>
  </div>
</div>
</body>
</html>